USE [master]
GO
/****** Object:  Database [dogtor]    Script Date: 4/11/2024 08:12:33 ******/
CREATE DATABASE [dogtor]

GO
USE [dogtor]
GO
/****** Object:  Table [dbo].[ATENCION]    Script Date: 4/11/2024 08:12:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATENCION](
	[cod_atencion] [int] IDENTITY(1,1) NOT NULL,
	[cod_disponibilidad] [int] NOT NULL,
	[cod_tipoA] [int] NOT NULL,
	[importe] [decimal](10, 2) NULL,
	[cod_mascota] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_atencion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 4/11/2024 08:12:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[cod_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[telefono] [varchar](10) NOT NULL,
	[dni] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISPONIBILIDAD]    Script Date: 4/11/2024 08:12:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISPONIBILIDAD](
	[cod_disponibilidad] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[hora] [time](7) NOT NULL,
	[ocupada] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_disponibilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[fecha] ASC,
	[hora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASCOTA]    Script Date: 4/11/2024 08:12:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASCOTA](
	[cod_mascota] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[edad] [int] NOT NULL,
	[cod_cliente] [int] NOT NULL,
	[cod_tipo] [int] NOT NULL,
	[eliminado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_mascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_ATENCION]    Script Date: 4/11/2024 08:12:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_ATENCION](
	[cod_tipoA] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tipoA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_MASCOTA]    Script Date: 4/11/2024 08:12:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_MASCOTA](
	[cod_tipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DISPONIBILIDAD] ADD  DEFAULT ((0)) FOR [ocupada]
GO
ALTER TABLE [dbo].[MASCOTA] ADD  CONSTRAINT [DF_MASCOTA_eliminado]  DEFAULT ((1)) FOR [eliminado]
GO
ALTER TABLE [dbo].[ATENCION]  WITH CHECK ADD FOREIGN KEY([cod_disponibilidad])
REFERENCES [dbo].[DISPONIBILIDAD] ([cod_disponibilidad])
GO
ALTER TABLE [dbo].[ATENCION]  WITH CHECK ADD FOREIGN KEY([cod_mascota])
REFERENCES [dbo].[MASCOTA] ([cod_mascota])
GO
ALTER TABLE [dbo].[ATENCION]  WITH CHECK ADD FOREIGN KEY([cod_tipoA])
REFERENCES [dbo].[TIPO_ATENCION] ([cod_tipoA])
GO
ALTER TABLE [dbo].[MASCOTA]  WITH CHECK ADD FOREIGN KEY([cod_cliente])
REFERENCES [dbo].[CLIENTE] ([cod_cliente])
GO
ALTER TABLE [dbo].[MASCOTA]  WITH CHECK ADD FOREIGN KEY([cod_tipo])
REFERENCES [dbo].[TIPO_MASCOTA] ([cod_tipo])
GO
USE [master]
GO
